* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(199, 204, 216);
}
table {
  border: 5px solid black !important;
}
td, th {
  border: 3px solid black !important;
}
label {
  margin-left: 80%;
}
.close{
  margin: -1rem -1rem -1rem 0 !important;
  outline: none !important;
}
.modal-header{
  flex-direction: row-reverse;
}
.dont-display-alert{
  display: none;
}
.red-color{
  color: red;
}
.black-color{
  color: black;
}
.cursor{
  cursor: initial !important;
  vertical-align: middle;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Yekan", sans-serif;
}
.container {
  width: 700px;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  font-family: "Yekan";
}
#task {
  color: rgb(169, 181, 181);
  font-family: "Yekan", sans-serif;
  font-size: 35px;
}
#enter {
  color: #fdfdfd;
  font-size: 13px;
}


input {
  min-width: 90%;
  padding: 10px;
  font-family: "Yekan";
}
